html {
  background: var(--html-bg);
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body,
#root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
