footer {
        display: block;        
        padding: 10px 5px;
        box-sizing: border-box;
        background: var(--footer); 
        color: var(--header-footer-text);
        height: auto; 
}
@media (min-width: 601px) and (max-width: 1024px) {
footer {
        opacity: 1;
}
}
@media (max-width: 600px) {
footer {
        opacity: 1;
}
}
.footer-inner {
        background: var(--header-footer-inner-bg);
        max-width: 10000px;
        width: 100%;         
        margin: 0 auto;
        height: auto;
        padding: 0;        
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
}
@media (min-width: 601px) and (max-width: 1024px) {
.footer-inner {
        opacity: 1;
        padding: 0 1rem 0 1rem;
}
}
@media (max-width: 600px) {
.footer-inner {
        opacity: 1;
        padding: 0 1rem 0 1rem;
}
}
.footer-left {
        opacity: 1;
        background-color: var(--header-footer-inner-bg); 
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.footer-left {
        opacity: 1;
}
}
@media (max-width: 600px) {
.footer-left {
        opacity: 1;
        gap: .5rem;
}
}
.footer-right {
        opacity: 1;
        background-color: var(--header-footer-inner-bg); 
        padding: 0;
}
.footer-right .p-small {
        color: rgba(255,255,255,.9);
}
@media (min-width: 601px) and (max-width: 1024px) {
.footer-right {
        opacity: 1;
}
}
@media (max-width: 600px) {
.footer-right {
        opacity: 1;
}
}
.footer-right p {
        opacity: 1;
        background-color: var(--footer-left); 
        margin: 0;
        padding: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.footer-right {
        opacity: 1;
}
}
@media (max-width: 600px) {
.footer-right {
        opacity: 1;
}
}


/* #region SOCIAL_ICONS */      
.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.social-icon svg {
  width: 24px;
  height: auto;
  max-width: 100%;
  display: block;
  transition: fill 0.3s ease;
}
.social-icon:hover svg {
  fill: #1a252f;
}
.social-icon img {
  width: 34px;
  height: auto;
  max-width: 100%;
  display: block;
  transition: fill 0.3s ease;
}
.social-icon:hover img {
  fill: #1a252f;
}
/* #endregion SOCIAL_ICONS */       