.header { 
        background: var(--header-footer-bg);
        color: var(--header-footer-text);
        width: 100%;
        padding: 0;
        position: sticky;
        top: 0;
        z-index: 999;
        /*
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        */
        /*
        box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.12),
        0 8px 16px rgba(0, 0, 0, 0.08);        
        */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
@media (min-width: 601px) and (max-width: 1024px) {
.header { 
        opacity: 1;
}
}
@media (max-width: 600px) {
.header { 
        opacity: 1;
}
}
.header-inner {
        background: var(--header-footer-inner-bg);
        max-width: 10000px;
        width: 100%;         
        margin: 0 auto;
        height: 50px;
        padding: 0;        
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
}
@media (min-width: 601px) and (max-width: 1024px) {
.header-inner {
        opacity: 1;
        justify-content: flex-end;
        align-items: center;
        padding: 0 8px;
}
}
@media (max-width: 600px) {
.header-inner {
        opacity: 1;
}
}
.header-logo {
        opacity: 1;
        background: var(--header-footer-left-bg);
        flex: 0 0 auto; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        font-size: 1.25rem;
        gap: 3rem;
        margin: 0;
        vertical-align: middle;
        padding: 0px 8px;
        /*
        display: none;
        */
        display: none;
}
@media (min-width: 601px) and (max-width: 1024px) {
.header-logo {
        opacity: 1;
}
}
@media (max-width: 600px) {
.header-logo {
        opacity: 1;
}
}
.logo-button {
        background: var(--logo-button-bg);
        border: none;
        padding: 0;
        margin: 0;
        border-radius: 0 !important;
}
@media (min-width: 601px) and (max-width: 1024px) {
.logo-button {
        opacity: 1;
}
}
@media (max-width: 600px) {
.logo-button {
        opacity: 1;
}
}
.logo-button:hover {
        background: none !important;
        filter: saturate(100%);
}
@media (min-width: 601px) and (max-width: 1024px) {
.logo-button:hover {
        opacity: 1;
}
}
@media (max-width: 600px) {
.logo-button:hover {
        opacity: 1;
}
}
.logo-button img {
        opacity: 1;
        display: block;
        height: 130px;
        width: auto;
        margin: 0;
        padding: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.logo-button img {
        opacity: 1;
}
}
@media (max-width: 600px) {
.logo-button img {
        opacity: 1;
}
}
.title {
        font-size: 1.75rem;
        line-height: 1;
        margin: 0 0 10px 0;
        padding: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.title {
        opacity: 1;
}
}
@media (max-width: 600px) {
.title {
        opacity: 1;
}
}
.header-nav {
        background: var(--header-footer-right-bg);
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 3vw;
        margin: 0;
        gap: 0;
        text-transform: uppercase;
}
@media (min-width: 601px) and (max-width: 1024px) {
.header-nav {
        opacity: 1;
        display: none;        
}
}
@media (max-width: 600px) {
.header-nav {
        opacity: 1;
        display: none;
}
}
.header-nav a {
        text-decoration: none;
        color: var(--text-color-p);
        font-size: 1rem;
        margin-top: 3px;
        text-align: center;
        line-height: 1.125;
}
@media (min-width: 601px) and (max-width: 1024px) {
.header-nav a {
        gap: 3.38vw;  
}
}
@media (max-width: 600px) {
.header-nav a {
        flex-direction: column;
        align-items: flex-end;
        gap: .32rem;  
}
}
.header-nav a:hover {
        color: var(--alpenrose-1);
        /*
        color: var(--header-footer-text);
        color: white;  TESTING 
        */
        transition: color .5s ease;
}

/* #region HAMBURGER_AND_MOBILE_NAV */
.mobile-nav-overlay {
  position: fixed;
  inset: 0;
  background: var(--header-footer-bg);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.mobile-nav a {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--header-footer-text);
  margin-bottom: 20px;
}
/* #endregion HAMBURGER_AND_MOBILE_NAV */

