/* #region TOP_LEVEL_STUFF_AND_NOTES */

.main {
        display: grid;
        padding: 0 4px 4px 4px;
        width: 100%;
        box-sizing: border-box;
        gap: 4px;      
        grid-template-columns: repeat(24, 1fr);
        grid-auto-rows: minmax(280px, auto);
        }
@media (min-width: 601px) and (max-width: 1024px) {
.main {
        opacity: 1;
}
}
@media (max-width: 600px) {
.main {
        opacity: 1;
}
}
/* #endregion TOP_LEVEL_STUFF_AND_NOTES */

/* #region IMAGE_PANEL_COMMONALITIES */ 
.image-panel { 
        background-color: peachpuff;        
        height: 100%;
        padding: 0;
        margin: 0;
        background-size: cover;    
        background-position: center; 
        background-repeat: no-repeat;
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.image-panel { 
        opacity: 1;
}
}
@media (max-width: 600px) {
.image-panel { 
        opacity: 1;
        max-width: 100%;
}
}
.image-panel p { 
        opacity: 0;
        color: rgb(255, 0, 208);
        background-color: white;
        width: 22px;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1;
        margin: 3px;
        padding: 3px 0;
        text-align: center;
        box-sizing: border-box;
        }
@media (min-width: 601px) and (max-width: 1024px) {
.image-panel p { 
        padding: 0;
}
}
@media (max-width: 600px) {
.image-panel p { 
        padding: 0;
}
}
/* #endregion IMAGE_PANEL_COMMONALITIES */

/* #region IMAGE_PANELS_UNIQUETIES */
/* panel-??? always matches photo-??? --- don't alter this. Also don't change the order of these panels. Should stay 1, 2, 3... Only change 'em up in html. */

.panel-1 {
        background-image: var(--photo-1);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-1 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-1 {
        opacity: 1;
        grid-column: span 12;
}
}
.panel-2 {
        background-image: var(--photo-2);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-2 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-2 {
        opacity: 1;
}
}
.panel-3 {
        background-image: var(--photo-3);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-3 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-3 {
        display: none;
        opacity: 1;
        grid-column: span 12;
}
}
.panel-4 {
        background-image: var(--photo-4);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-4 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-4 {
        opacity: 1;
        grid-column: span 24;
}
}
.panel-5 {
        background-image: var(--photo-5);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-5 {
        opacity: 1;
        grid-column: span 12;
}
}
@media (max-width: 600px) {
.panel-5 {
        opacity: 1;
        grid-column: span 12;
}
}
.panel-6 {
        background-image: var(--photo-6);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-6 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-6 {
        opacity: 1;
}
}
.panel-7 {
        background-image: var(--photo-7);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-7 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-7 {
        opacity: 1;
}
}
.panel-8 {
        background-image: var(--photo-8);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-8 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-8 {
        opacity: 1;
}
}
.panel-9 {
        background-image: var(--photo-9);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-9 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-9 {
        opacity: 1;
}
}
.panel-10 {
        background-image: var(--photo-10);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-10 {
        opacity: 1;
        grid-column: span 12;
}
}
@media (max-width: 600px) {
.panel-10 {
        opacity: 1;
        grid-column: span 12;
}
}
.panel-11 {
        background-image: var(--photo-11);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-11 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-11 {
        opacity: 1;
}
}
.panel-12 {
        background-image: var(--photo-12);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-12 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-12 {
        opacity: 1;
}
}
.panel-13 {
        background-image: var(--photo-13);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-13 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-13 {
        opacity: 1;
}
}
.panel-14 {
        background-image: var(--photo-14);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-14 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-14 {
        opacity: 1;
}
}
.panel-15 {
        background-image: var(--photo-15);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-15 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-15 {
        opacity: 1;
}
}
.panel-16 {
        background-image: var(--photo-16);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-16 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-16 {
        opacity: 1;
}
}
.panel-17 {
        background-image: var(--photo-17);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-17 {
        opacity: 1;
        grid-column: span 12;
}
}
@media (max-width: 600px) {
.panel-17 {
        opacity: 1;
        grid-column: span 12;
}
}
.panel-18 {
        background-image: var(--photo-18);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-18 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-18 {
        opacity: 1;
}
}
.panel-19 {
        background-image: var(--photo-19);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-19 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-19 {
        opacity: 1;
}
}
.panel-20 {
        background-image: var(--photo-20);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-20 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-20 {
        opacity: 1;
}
}
.panel-21 {
        background-image: var(--photo-21);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-21 {
        opacity: 1;
        grid-column: span 12;
}
}
@media (max-width: 600px) {
.panel-21 {
        opacity: 1;
        grid-column: span 12;
}
}
.panel-22 {
        background-image: var(--photo-22);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-22 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-22 {
        opacity: 1;
}
}
.panel-23 {
        background-image: var(--photo-23);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-23 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-23 {
        opacity: 1;
}
}
.panel-24 {
        background-image: var(--photo-24);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-24 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-24 {
        opacity: 1;
}
}
.panel-25 {
        background-image: var(--photo-25);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-25 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-25 {
        opacity: 1;
}
}
.panel-26 {
        background-image: var(--photo-26);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-26 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-26 {
        opacity: 1;
}
}
.panel-27 {
        background-image: var(--photo-27);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-27 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-27 {
        opacity: 1;
}
}
.panel-28 {
        background-image: var(--photo-28);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-28 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-28 {
        opacity: 1;
}
}
.panel-29 {
        background-image: var(--photo-29);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-29 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-29 {
        opacity: 1;
}
}
.panel-30 {
        background-image: var(--photo-30);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-30 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-30 {
        opacity: 1;
}
}
.panel-31 {
        background-image: var(--photo-31);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-31 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-31 {
        opacity: 1;
}
}
.panel-32 {
        background-image: var(--photo-32);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-32 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-32 {
        opacity: 1;
}
}
.panel-33 {
        background-image: var(--photo-33);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-33 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-33 {
        opacity: 1;
}
}
.panel-34 {
        background-image: var(--photo-34);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-34 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-34 {
        opacity: 1;
}
}
.panel-35 {
        background-image: var(--photo-35);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-35 {
        opacity: 1;
}
}
@media (max-width: 600px) {
.panel-35 {
        opacity: 1;
}
}
.panel-36 {
        background-image: var(--photo-36);
        background-position: calc(50% + 0px) calc(50% - 0px);
        grid-column: span 8;
 
}
@media (min-width: 601px) and (max-width: 1024px) {
.panel-36 {
        opacity: 1;
        width: 100%;  
}
}
@media (max-width: 600px) {
.panel-36 {
        opacity: 1;
}
}

/* #endregion IMAGE_PANELS */

/* #region TEXT_PANEL_COMMONALITIES */
.text-panel {
        background-color: var(--text-panel-bg);      
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        box-sizing: border-box;
        scroll-margin-top: 54px;
        height: auto;
        align-items: center;    
        justify-content: center; 
        text-align: center;
        padding: 30px;
        grid-column: span 24;
}
@media (min-width: 601px) and (max-width: 1024px) {
.text-panel {
        opacity: 1;
        padding: 20px 100px;
}
}
@media (max-width: 600px) {
.text-panel {
        opacity: 1;
        padding: 20px;
}
}
.section-title {
        color: var(--header-footer-text);
        font-size: 1.75rem;
        line-height: 1;
        margin: 0 0 20px 0;
        padding: 0;
        text-transform: uppercase;
}
@media (min-width: 601px) and (max-width: 1024px) {
.section-title {
        opacity: 1;
}
}
@media (max-width: 600px) {
.section-title {
        opacity: 1;
        margin: 0 0 10px 0;
}
}
.section-text {
        color: var(--header-footer-text);
        font-size: 1.125rem;
        line-height: 1.4;
        margin: 0 0 20px 0;
        padding: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.section-text {
        opacity: 1;
}
}
@media (max-width: 600px) {
.section-text {
        opacity: 1;
}
}
.learn-more {
        opacity: .85;
        color: var(--header-footer-text);
        font-size: 1rem;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
}
@media (min-width: 601px) and (max-width: 1024px) {
.learn-more {
        opacity: 1;
}
}
@media (max-width: 600px) {
.learn-more {
        opacity: 1;
}
}
/* #endregion TEXT_PANEL_COMMONALITIES */

/* #region TEXT_PANEL_UNIQUETIES */
.text-panel-alpenrose {
        background: none;
        padding: 30px 50px; 
}
.section-title-alpenrose {
        font-family: Aboreto;
        font-weight: 400;
        color: var(--header-footer-text);
        font-size: 5rem;
        line-height: 1;
        margin: 20px 0 40px 0;
        padding: 0;
        text-transform: uppercase;
        background: linear-gradient(90deg, #d16ba5, #86a8e7, #5ffbf1);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}
@media (min-width: 601px) and (max-width: 1024px) {
.section-title-alpenrose {
        opacity: 1;
}
}
@media (max-width: 600px) {
.section-title-alpenrose {
        opacity: 1;
        font-size: 3.5rem;
        margin: 0 0 10px 0;
}
}
.section-text-alpenrose {
        color: var(--header-footer-text);
        font-size: 1.375rem;
        line-height: 1.5;
        margin: 0;
        padding: 0 0 25px 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.section-text-alpenrose {
        opacity: 1;
        padding: 0 0 20px 0;
}
}
@media (max-width: 600px) {
.section-text-alpenrose {
        opacity: 1;
        padding: 0 0 18px 0;
}
}
.text-panel-retreat {
        background: var(--text-panel-b);
        grid-column: span 16;
        
}
@media (min-width: 601px) and (max-width: 1024px) {
.text-panel-retreat {
        opacity: 1;
        grid-column: span 24;
}
}
@media (max-width: 600px) {
.text-panel-retreat {
        opacity: 1;
        grid-column: span 24;
}
}
.text-panel-journey {
        background: var(--text-panel-c);
        grid-column: span 16;
        
}
@media (min-width: 601px) and (max-width: 1024px) {
.text-panel-journey {
        opacity: 1;
        grid-column: span 24;
}
}
@media (max-width: 600px) {
.text-panel-journey {
        opacity: 1;
        grid-column: span 24;
}
}
.text-panel-investment {
        background: var(--text-panel-a);
        width: 100%;
        grid-column: span 16;
}
@media (min-width: 601px) and (max-width: 1024px) {
.text-panel-investment {
        opacity: 1;
        grid-column: span 24;
}
}
@media (max-width: 600px) {
.text-panel-investment {
        opacity: 1;
        grid-column: span 24;
}
}
.text-panel-accommodations {
        background: var(--text-panel-b);
        grid-column: span 16;
}
@media (min-width: 601px) and (max-width: 1024px) {
.text-panel-accommodations {
        opacity: 1;
        grid-column: span 24;
}
}
@media (max-width: 600px) {
.text-panel-accommodations {
        opacity: 1;
        grid-column: span 24;
}
}
.text-panel-logistics {
        background: var(--text-panel-c);
        grid-column: span 16;        
}
@media (min-width: 601px) and (max-width: 1024px) {
.text-panel-logistics {
        opacity: 1;
        grid-column: span 24;
}
}
@media (max-width: 600px) {
.text-panel-logistics {
        opacity: 1;
        grid-column: span 24;
}
}
/* #endregion TEXT_PANEL_UNIQUETIES */
