/* Overlay covers entire viewport */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}

/* Modal container */
.modal {
        background: #ffffff;
        color: #111;
        width: 100%;
        height: 100vh;
        overflow-y: auto;        
        padding: 0;
        box-sizing: border-box;
        position: relative;
}
.modal-header {
        position: sticky;
        top: 0;
        background: rgb(49, 49, 49); /* important */
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px;
        height: 38px;
}
.modal-content {
        background: none;
        opacity: 1;
        padding: 20px;
}
.modal-content h3 {
        margin: 0 0 10px 0;
}
.modal-content p {
        margin: 0 0 10px 0;
}
