/* #region BUTTONS */
button,
.button {
  background: var(--button-bg2);
  color: var(--button-text);
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  line-height: 0;
  text-transform: uppercase;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  font-weight: bold;
  border-radius: 4px;
}
@media (hover: hover) and (pointer: fine) {
  button:hover,
  .button:hover {
    background-color: var(--button-bg2-hover);
    color: var(--button-text-hover);
  }
}
button:active,
.button:active {
  background-color: var(--button-bg2-active);
  color: var(--button-text-active);
}
/* normal large */
.cta {
  margin: 25px 0 0 0;
  padding: 20px 15px;
  font-weight: bold;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}
/* normal tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .cta {
    opacity: 1;
  }
}
/* normal cell */
@media (max-width: 600px) {
  .cta {
    opacity: 1;
  }
}
/* normal large */
.list_close_btn {
  display: none; 
  font-size: 2.25rem;
}
.mobile-nav-overlay .list_close_btn {
  position: absolute;
  top: 9px;
  right: 8px;
}
.modal-header > .list_close_btn {
        color: rgb(255, 255, 255);
  display: block;
  margin: 0 2px 0 0;
}
/* hover */
@media (hover: hover) and (pointer: fine) {
  .list_close_btn:hover {
    opacity: 1;
  }
}
/* active */
.list_close_btn:active {
    opacity: 1;
}
/* normal tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .list_close_btn {
    opacity: 1;
    display: block;
  }
}
/* normal cell */
@media (max-width: 600px) {
  .list_close_btn {
    opacity: 1;
    display: block;
  }
}

/* #endregion BUTTONS */

/* #region PHOTOS */
:root {
  --image-shortenizer: 1;
  --image-panel-height-1: calc(20vw * var(--image-shortenizer));
  --image-panel-height-2: calc(10vw * var(--image-shortenizer));
  --image-panel-height-3: calc(30vw * var(--image-shortenizer));
  --image-panel-height-4: calc(17vw * var(--image-shortenizer));

  --photo-1: url('assets/01_aurora_halo.jpeg');
  --photo-2: url('assets/02_blue_river_cabin_day_1.jpeg');
  --photo-3: url('assets/03_jude_rashmi_veronica.jpeg');
  --photo-4: url('assets/04_cabin.jpg');
  --photo-5: url('assets/05_colors.jpg');
  --photo-6: url('assets/06_creek.jpeg');
  --photo-7: url('assets/07_dinner.jpeg');
  --photo-8: url('assets/08_eagles_nest.jpeg');
  --photo-9: url('assets/09_teaching_at_guesthouse.jpeg');
  --photo-10: url('assets/10_fence.jpg');
  --photo-11: url('assets/11_great_room.jpg');
  --photo-12: url('assets/12_group_activity.jpg');
  --photo-13: url('assets/13_lower_bedroom.jpg');
  --photo-14: url('assets/14_upper_bedroom.jpg');
  --photo-15: url('assets/15_upper_living_room.jpg');
  --photo-16: url('assets/16_guest_house.jpg');
  --photo-17: url('assets/17_guest_house.jpg');
  --photo-18: url('assets/18_guest_kitchen.jpg');
  --photo-19: url('assets/19_hiking.jpeg');
  --photo-20: url('assets/20_hiking.jpeg');
  --photo-21: url('assets/21_horseback.jpeg');
  --photo-22: url('assets/22_janine_rashmi.jpeg');
  --photo-23: url('assets/23_leadership_poses.jpeg');
  --photo-24: url('assets/24_linda_tish.jpeg');
  --photo-25: url('assets/25_lodge.jpg');
  --photo-26: url('assets/26_tish_on_stump.jpeg');
  --photo-27: url('assets/27_lodge_and_guest_house.jpg');
  --photo-28: url('assets/28_main_lodge.jpg');
  --photo-29: url('assets/29_painting_day.jpeg');
  --photo-30: url('assets/30_porch.jpeg');
  --photo-31: url('assets/31_range_at_dusk.jpg');
  --photo-32: url('assets/32_rashmi_maybelline.jpeg');
  --photo-33: url('assets/33_sleeping_warrior.jpeg');
  --photo-34: url('assets/34_sleeping_warrior.jpeg');
  --photo-35: url('assets/35_smores.jpeg');
}
/* #endregion PHOTOS */

/* #region COLORS */
:root,
:root[data-theme='actual'] {
  --button-bg: rgba(var(--alpenrose-1-alpha), 0.2);
  --button-bg-hover: rgba(var(--alpenrose-1-alpha), 0.4);
  --button-bg-active: rgba(var(--alpenrose-1-alpha), 0.6);
  --button-bg2: rgba(var(--alpenrose-2-alpha), 0.2);
  --button-bg2-hover: rgba(var(--alpenrose-2-alpha), 0.4);
  --button-bg2-active: rgba(var(--alpenrose-2-alpha), 0.6);
  --button-bg3: rgba(var(--alpenrose-3-alpha), 0.2);
  --button-bg3-hover: rgba(var(--alpenrose-3-alpha), 0.4);
  --button-bg3-active: rgba(var(--alpenrose-3-alpha), 0.6);
  --button-text: var(--text-color-p);
  --button-text-hover: var(--text-color-p);
  --button-text-active: var(--text-color-p);
  --text-color-p: rgba(0,0,0,.5);
  --text-color-h4: rgba(0,0,0,.45);
  --text-color-h3: rgba(0,0,0,.4);
  --text-color-h2: rgba(0,0,0,.35);
  --html-bg: var(--header-footer-bg);
  --header-footer-bg: white;
  --modal-header-bg:
    linear-gradient(
      -90deg,
      rgba(var(--alpenrose-2-alpha), 0),
      rgba(var(--alpenrose-2-alpha), .2)
    ),
    rgb(255, 255, 255);

  /*
        --header-footer-bg: white;

        --header-footer-bg: rgba(0,0,0,.25);

        --header-footer-bg:
                linear-gradient(
                rgba(var(--alpenrose-2-alpha),.25),
                rgba(var(--alpenrose-2-alpha),.25)), 
                rgb(255, 255, 255); 
        */
  --header-footer-inner-bg: none;
  --header-footer-left-bg: none;
  --header-footer-mid-bg: none;
  --header-footer-right-bg: none;
  --header-footer-text: rgb(98, 98, 98);
  --section-title-text: rgb(142, 142, 142);
  --logo-button-bg: none;
  --logo-button-bg-hover:
    linear-gradient(
      90deg,
      rgba(var(--alpenrose-2-alpha), 0.15),
      rgba(var(--alpenrose-2-alpha), 0.15)
    ),
    rgb(52, 52, 52);
  --row-bg: none;
  --image-panel-bg: red;
  --text-panel-a: none;
  --text-panel-b: none;
  --text-panel-c: none;
  --text-panel-a2:
    linear-gradient(
      rgba(var(--alpenrose-1-alpha), 0.25),
      rgba(var(--alpenrose-1-alpha), 0.25)
    ),
    rgb(255, 255, 255);
  --text-panel-b2:
    linear-gradient(
      rgba(var(--alpenrose-2-alpha), 0.25),
      rgba(var(--alpenrose-2-alpha), 0.25)
    ),
    rgb(255, 255, 255);
  --text-panel-c2:
    linear-gradient(
      rgba(var(--alpenrose-3-alpha), 0.25),
      rgba(var(--alpenrose-3-alpha), 0.25)
    ),
    rgb(255, 255, 255);
  --alpenrose-title: linear-gradient(90deg, #eca8cf, #b0c6f1, #9bfcf6);
  --alpenrose-title2: linear-gradient(90deg, #d16ba5, #86a8e7, #5ffbf1);
  --alpenrose-title3: linear-gradient(90deg, #b14683, #416ab6, #25b6ac);
  --table-head-bg: var(--alpenrose-1);
  --table-body-bg: none;
  --table-borders: rgba(var(--alpenrose-1-alpha), 0.65);
}
:root[data-theme='test'] {
  --button-bg: rgba(255, 200, 9, 1);
  --button-bg-hover: rgb(96, 183, 88);
  --button-bg-active: rgba(0, 255, 255, 1);
  --button-text: rgba(255, 0, 111, 1);
  --button-text-hover: rgba(44, 188, 88, 1);
  --button-text-active: rgba(255, 255, 255, 1);
  --text-color: rgb(92, 43, 67);
  --body-bg:
    linear-gradient(
      rgba(var(--alpenrose-1-alpha), 0.1),
      rgba(var(--alpenrose-1-alpha), 0.1)
    ),
    rgb(40, 40, 40);
  --html-bg: var(--header-footer-bg);
  --header-footer-bg: red;
  --header-footer-inner-bg: rgb(117, 113, 222);
  --header-footer-left-bg: rgb(210, 213, 26);
  --header-footer-mid-bg: rgb(81, 227, 71);
  --header-footer-right-bg: rgb(175, 20, 213);
  --header-footer-text: rgb(72, 227, 0);
  --logo-button-bg: magenta;
  --logo-button-bg-hover: skyblue;
  --row-bg: yellow;
  --image-panel-bg: rgb(139, 204, 139);
  --text-panel-bg: red;
  --text-panel-a: pink;
  --text-panel-b: lightgreen;
  --text-panel-c: lightblue;
}
/* #region MASTER_COLORS */
:root {
  /* COPY THESE FROM .ASE ONLY */
  --alpenrose-1: rgb(209, 107, 165);
  --alpenrose-1-alpha: 209, 107, 165;
  --alpenrose-2: rgb(134, 168, 231);
  --alpenrose-2-alpha: 134, 168, 231;
  --alpenrose-3: rgb(95, 251, 241);
  --alpenrose-3-alpha: 95, 251, 241;
}
/* #endregion MASTER_COLORS */
/* #endregion COLORS */

/* #region FONT_VARIABLES */
:root {
  --font-heading: 'Aboreto', sans-serif;
  --font-body: 'Figtree', sans-serif;

  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
}
/* #endregion FONT_VARS_IN_ROOT */

/* #region TEXT_STYLES */

body {
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  font-size: 16px;
  color: var(--text-color-p);
  margin: 0;
}
ul {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
h2 {
  color: var(--text-color-h2);
  font-family: var(--font-heading);
  font-weight: var(--weight-light);
  font-size: 2.5rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
h3 {
  color: var(--text-color-h3);
  font-family: var(--font-heading);
  font-weight: var(--weight-light);
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}
h4 {
  color: var(--text-color-h4);
  font-family: var(--font-heading);
  font-weight: var(--weight-light);
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
}
.section-title {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .section-title {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .section-title {
    opacity: 1;
    margin: 0 0 10px 0;
  }
}
.modal-content .section-title {
  font-size: 3.5rem;
  margin: 0 0 30px 0;
  text-align: left;
}
.section-text {
  font-size: 1.125rem;
  line-height: 1.4;
  text-align: justify;
  margin: 17.5px 0 0 0;
  padding: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .section-text {
    opacity: 1;
    margin: 12.5px 0 0 0;
  }
}
@media (max-width: 600px) {
  .section-text {
    opacity: 1;
    margin: 5px 0 0 0;
  }
}

/* #endregion TEXT_VAR_STYLES */
